@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Lexend:100,600,400,700");
.default-page {
  background-color: #8fb399;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.default-page .div {
  background-color: #8fb399;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.default-page .overlap {
  position: absolute;
  width: 1402px;
  height: 111px;
  top: 15px;
  left: 19px;
  background-image: url(rectangle-1.png);
  background-size: 100% 100%;
}

.default-page .expenses {
  position: absolute;
  width: 83px;
  height: 87px;
  top: 8px;
  left: 1042px;
  object-fit: cover;
}

.default-page .income {
  position: absolute;
  width: 95px;
  height: 87px;
  top: 12px;
  left: 747px;
  object-fit: cover;
}

.default-page .transactions {
  position: absolute;
  width: 99px;
  height: 79px;
  top: 16px;
  left: 372px;
  object-fit: cover;
}

.default-page .dashboard {
  position: absolute;
  width: 89px;
  height: 95px;
  top: 8px;
  left: 44px;
  object-fit: cover;
}

.default-page .img {
  position: absolute;
  width: 179px;
  height: 25px;
  top: 39px;
  left: 161px;
}

.default-page .expenses-2 {
  position: absolute;
  width: 155px;
  height: 29px;
  top: 40px;
  left: 1157px;
}

.default-page .transactions-2 {
  position: absolute;
  width: 215px;
  height: 27px;
  top: 36px;
  left: 500px;
}

.default-page .income-2 {
  position: absolute;
  width: 121px;
  height: 23px;
  top: 40px;
  left: 876px;
}

.default-page .overlap-group {
  position: absolute;
  width: 1402px;
  height: 850px;
  top: 153px;
  left: 19px;
  background-color: #b3a1a1;
  border-radius: 20px;
}

.default-page .overlap-2 {
  position: absolute;
  width: 653px;
  height: 736px;
  top: 69px;
  left: 36px;
  background-color: #ffffff;
  border-radius: 25px;
}

.default-page .div-wrapper {
  position: absolute;
  width: 266px;
  height: 83px;
  top: 182px;
  left: 353px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.default-page .text-wrapper {
  position: absolute;
  top: 25px;
  left: 107px;
  font-family: "Lexend", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.default-page .overlap-3 {
  position: absolute;
  width: 266px;
  height: 83px;
  top: 57px;
  left: 353px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.default-page .text-wrapper-2 {
  position: absolute;
  top: 28px;
  left: 30px;
  font-family: "Lexend", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.default-page .overlap-4 {
  position: absolute;
  width: 266px;
  height: 83px;
  top: 182px;
  left: 27px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.default-page .text-wrapper-3 {
  position: absolute;
  top: 25px;
  left: 87px;
  font-family: "Lexend", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.default-page .overlap-5 {
  position: absolute;
  width: 266px;
  height: 83px;
  top: 57px;
  left: 27px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.default-page .text-wrapper-4 {
  position: absolute;
  top: 25px;
  left: 71px;
  font-family: "Lexend", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.default-page .overlap-6 {
  position: absolute;
  width: 294px;
  height: 98px;
  top: 307px;
  left: 179px;
  background-color: #ec7a7a;
  border-radius: 25px;
}

.default-page .text-wrapper-5 {
  position: absolute;
  top: 33px;
  left: 87px;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.default-page .plus-math {
  position: absolute;
  width: 45px;
  height: 47px;
  top: 25px;
  left: 28px;
}

.default-page .overlap-7 {
  position: absolute;
  width: 592px;
  height: 169px;
  top: 489px;
  left: 27px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.default-page .text-wrapper-6 {
  position: absolute;
  top: 59px;
  left: 39px;
  font-family: "Lexend", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.default-page .rectangle {
  position: absolute;
  width: 653px;
  height: 736px;
  top: 69px;
  left: 716px;
  background-color: #ffffff;
  border-radius: 25px;
}

.default-page .text-wrapper-7 {
  position: absolute;
  top: 14px;
  left: 54px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.default-page .text-wrapper-8 {
  position: absolute;
  top: 14px;
  left: 829px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}
